<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontello/css/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="jquery-ui-1.12.1.custom">
   <link rel="stylesheet" media="all and (min-width:770px)" href="catnav.css">
    <link rel="stylesheet" href="catnav.css">
    <script src="js/catnav.js"></script>
    <title>보리통신문-메인페이지입니다.</title>
</head>

<body class="container ">

{{ posts }}

{% for post in posts %}
    {{ post }}
{% endfor %}


<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}



    <div id="maintitle" class="col-md-12 row justify-content-md-center order-first">
        <div class="maintitleimg col-md-2 "><img src="img/flower.png" alt=""></div>
        <div class="maintitletext col">
            <div class="catschool">보리통신문</div>
            <div class="catclass">이냥저냥 - 1호 </div>
        </div>
        <div class="maintitleimg col-md-2"><img src="img/flower.png" alt=""></div>
    </div>
    <div class="activeZone row">
        <div id="catnav" class="col-md-2">
            <ul class="navchart">
                
                <li class="navhealth">
                    <div class="titlemenu"><img src="img/footmenu.png" alt="">건강기록</div>
                    <div class="submenu">
                        <div class="navmedi">
                            <div class="nav4">구충제</div>
                        </div>
                        <div class="navhos">
                            <div class="nav4">내원내역</div>
                        </div>
                        <div class="navweight">
                            <div class="nav4">건강기록</div>
                        </div>
                    </div>
                </li>
                <li class="navbookmark">
                    <div class="titlemenu"><img src="img/footmenu.png" alt="">용품</div>
                    <div class="submenu">
                    </div>
                </li>
                <li class="navclock">
                        <div class="clockbox titlemenu"></div>
                </li>
            </ul>
        </div>
        <div id="section" class="col-md-10 order-first">
            <div class="mainpagewrap">
                <!--이제 여기만 화면이 바뀔 예정 -->
                <div class="firstpage row order-last">
                    <div class="adbanner row col-md-12">
                        <div class="adslides col-md-12">
                            <a><img src="img/banner/banner1.jpg" alt=""></a>
                            <a><img src="img/banner/banner2.jpg" alt=""></a>
                            <a><img src="img/banner/banner3.jpg" alt=""></a>
                            <a><img src="img/banner/banner4.jpg" alt=""></a>
                            <a><img src="img/banner/banner5.jpg" alt=""></a>
                            <a><img src="img/banner/banner6.jpg" alt=""></a>
                        </div>
                        <div class="bannerbtn col-md-12">
                            <button type="button" class="prev icon-angle-left">&lt;</button>
                            <button type="button" class="next icon-angle-right">&gt;</button>
                        </div>
                        <div class="guidebtn">
                            <li class="on">버튼1</li>
                            <li>버튼2</li>
                            <li>버튼3</li>
                            <li>버튼4</li>
                            <li>버튼5</li>
                            <li>버튼6</li>
                        </div>
                    </div>
                    <div class="history col-md-6">
                        <div class="cattitle">최근 작성 기록</div>
                    </div>
                    <div class="userguide col-md-6">
                        <div class="cattitle">냥냥통신문 사용법</div>
                        <ul class="guidewrite">
                            <li>내원내역에는 영수증을 첨부가능합니다. </li>
                            <li>체중 그래프를 이용하여 아이의 몸무게를 한눈에 파악하세요</li>
                            <li>내. 외부 구충제를 잊지 말고 접종시켜주세요</li>
                            <li>즐겨찾기는 최대 10개까지 등록 가능합니다. </li>
                            <li>계정문의는 카카오톡 플러스 친구를 이용하여 문의하여주세요</li>
                            <li>기타 메모에는 아이의 식습관, 알러지, 등등의 세부사항을 적어주세요. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="col-md-12">
        <div class="address">
            <ul class="copyright">
                <li class="copyright_1">대표</li>
                <li class="copyright_2">문의사항</li>
                <li class="copyright_3"></li>
                <li class="copyright_4"></li>
                <li class="copyright_5"></li>
            </ul>
            <ul class="copyleft">
                <li class="copyleft_1"></li>
                <li class="copyleft_2"></li>
                <li class="copyleft_3"></li>
                <li class="copyleft_4"></li>
                <li class="copyleft_5"></li>
            </ul>
        </div>
    </footer>

    <script src="js/catnav.js"></script>

</body>

</html>
